/* Importujemy czcionkę Poppins z Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Włączenie podstawowych dyrektyw Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset i podstawowe ustawienia dla html i body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Globalne style dla body */
body {
  background-color: #212121;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/* Ustawienia dla linków */
a {
  text-decoration: none;
  color: inherit;
}

a::after {
  display: none !important;
}

/* Nagłówki */
h1, h2, h3, h4, h5, h6 {
  color: #fff;
}

/* Ustawienia dla kontenera Next.js */
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Globalny layout dla głównej zawartości */
main {
  flex-grow: 1;
}

/* Opcjonalne style dla elementów UI */

/* Glassmorphism dla nawigacji */
.glass-nav {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 20px;
}

/* Style przycisków */
.btn {
  background-color: #008080;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.btn-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  background-color: #00bcd4;
}

/* Animacja ceny - slideInFromRightEdge */
@keyframes slideInFromRightEdge {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInFromRightEdge {
  animation: slideInFromRightEdge 0.8s ease-out forwards;
}

/* Animacja rysowania pionowej kreski – drawLine */
@keyframes drawLine {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

.vertical-line {
  height: 0;
  border-left: 1px solid white;
  opacity: 0;
}

.vertical-line.aos-animate {
  animation: drawLine 1.8s ease-out forwards;
}

html {
  scroll-behavior: smooth;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* Klasa pomocnicza dla błyszczącego tekstu */
.animate-shine {
  background: linear-gradient(110deg, #ffffff 8%, #838383 18%, #ffffff 33%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;
}

.text-shadow-custom {
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
}

